<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		id="com.zizibujuan.drip.doc.application"
	    point="org.eclipse.core.runtime.applications">
      	<application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="com.zizibujuan.drip.server.doc.configurator.WebApplication">
         </run>
      	</application>
	</extension>
	<extension id="com.zizibujuan.drip.doc.product" point="org.eclipse.core.runtime.products"> 
      <product name="DOC" application="com.zizibujuan.drip.doc.application" description="doc"> 
          <property name="appName" value="DOC"/> 
          <!--<property name="preferenceCustomization" value="plugin_customization.ini"/>-->
      </product> 
    </extension>
    
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      
      <!-- 访问用户项目 -->
      <servlet 
      		alias="/projects"
      		class="com.zizibujuan.drip.server.doc.servlet.ProjectServlet">
      </servlet>
      
      <!-- 文档 -->
      <servlet 
      		alias="/files"
      		class="com.zizibujuan.drip.server.doc.servlet.FileServlet">
      </servlet>
      <!-- 查看文件内容 -->
      <servlet 
      		alias="/blob"
      		class="com.zizibujuan.drip.server.doc.servlet.BlobServlet">
      </servlet>
      
    </extension>
    
    <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.doc.configurator.servlet.RestHtmlFilter">
      </filter>
      <filter
            alias="/"
            class="com.zizibujuan.drip.server.doc.configurator.servlet.WelcomeFileFilter">
      </filter>
      <filter
            alias="/"
            class="org.eclipse.jetty.servlets.GzipFilter">
      </filter>
  </extension>
</plugin>
